# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB Configuration
MONGO_URI=mongodb+srv://abenil6_dbuser:ABEnzo%406239@clustersims.3vfnk8f.mongodb.net/portfolio_db?appName=ClusterSIMS

# Resend Email Configuration (Get your API key at https://resend.com)
RESEND_API_KEY=re_Pa84Dw7e_FtWPZvgQSKywiYPUTSdCwur5
EMAIL_TO=abenilee740@gmail.com
